/* Custom colors */
:root {
  /* Primary colors */
  --white-color: #ffffff;
  --black-color: #000000;
  /* Grey */
  --grey-950-color: #1a1a1a;
  --grey-900-color: #333333;
  --grey-500-color: #737373;
  --grey-200-color: #d9d9d9;
  --grey-100-color: #eeeeee;
  --grey-50-color: #fafafa;
  /* Blue */
  --blue-800-color: #0330d1;
  --blue-500-color: #2d68ff;
  /* Purple */
  --purple-950-color: #302267;
  --purple-600-color: #633cff;
  --purple-300-color: #beadff;
  /* Red */
  --red-550-color: #ee3939;
  --red-500-color: #ff3939;
  /* Pink */
  --pink-900-color: #8a1a50;
  --pink-400-color: #f4a28c;
  /* Orange */
  --orange-600-color: #ec7100;
  --orange-500-color: #eb4925;
  /* Active state */
  --purple-active-color: #efebff;
  /* Custom */
  --twitter-color: #43b7e9;
  --facebook-color: #2442ac;
  --twitch-color: #ee3fc8;
}
