/* Set up the default font styles */
/* Regular -> 400 */
@font-face {
  font-family: "Instrument Sans";
  src: local("Instrument Sans"),
    url("/assets/fonts/static/InstrumentSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Semibold -> 600 */
@font-face {
  font-family: "Instrument Sans";
  src: local("Instrument Sans"),
    url("/assets/fonts/static/InstrumentSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold -> 700 */
@font-face {
  font-family: "Instrument Sans";
  src: local("Instrument Sans"),
    url("/assets/fonts/static/InstrumentSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Normalize */
body,
h1,
h2,
p {
  margin: 0;
}

/* General */
body {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  background-color: var(--grey-50-color);
  height: 100vh;
  overflow-y: hidden;
}

/* 
  COMPONENTS
  Button
  Levels: Primary | Secondary
*/

.btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding: 16px 24px;
  border-radius: 8px;
}

.btn-primary {
  background-color: var(--purple-600-color);
  color: var(--white-color);
}

.btn-primary:active,
.btn-primary:hover {
  background-color: var(--purple-300-color);
  box-shadow: 0 0 15px var(--purple-300-color);
}

.btn-secondary {
  background-color: var(--white-color);
  color: var(--purple-600-color);
  border: 1px solid var(--purple-600-color);
}

.btn-secondary:active,
.btn-secondary:hover {
  background-color: var(--purple-active-color);
}

.btn-primary:disabled,
.btn-secondary:disabled {
  opacity: 0.25;
}

/* HEADER */
/* Nav */
.header {
  background-color: var(--grey-50-color);
}

.nav {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 24px;
  border-radius: 8px;
}

/* Buttons */
.logo-small {
  display: block;
}

.logo-large {
  display: none;
}

.btn-header,
.logo {
  border: none;
  background-color: transparent;
}

.btn-header {
  padding: 16px;
  border-radius: 8px;
}

.btn-preview {
  color: var(--purple-600-color);
  cursor: pointer;
  border: 1px solid currentColor;
  transition: all 0.2s;
}

.btn-preview:active,
.btn-preview:hover {
  background-color: var(--purple-active-color);
}

/* Tabs */
.tabs {
  display: flex;
}

.tab-label {
  display: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.tab {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 8px;
  padding: 16px 24px;
  border-radius: 8px;
  color: var(--grey-500-color);
}

.tab:active,
.tab:hover {
  color: var(--purple-600-color);
}

.tab:active {
  background-color: var(--purple-active-color);
}

.tab:hover {
  cursor: pointer;
}

.tab-active {
  background-color: var(--grey-100-color);
  color: var(--purple-600-color);
}

/* SECTION CONTAINER */
.section-container {
  background-color: var(--grey-50-color);
  padding: 16px;
  height: 100%;
}

/* LEFT LAYOUT - PHONE M0CKUP PREVIEW */
.phone-mockup-preview {
  display: none;
}

/* RIGHT LAYOUT - ADD LINK */
.app {
  overflow: auto;
  height: calc(100% - 90px);
  background-color: var(--white-color);
  border-radius: 12px;
}

.app-links {
  display: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 24px;
}

.app-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.app-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--grey-900-color);
}

.app-text {
  font-size: 16px;
  color: var(--grey-500-color);
  line-height: 1.5;
}

/* Add link layout */
.add-link-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* APP States */
/* Add link - Form */
/* Container */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
  padding: 16px;
}

/* Header */
.input-header {
  display: flex;
  justify-content: space-between;
  color: var(--grey-500-color);
  line-height: 1.5;
  font-size: 16px;
}

.input-header-label {
  display: flex;
  gap: 8px;
}

.link-label {
  font-weight: 700;
}

.link-remove {
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
}

/* Inputs */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--grey-50-color);
  border-radius: 12px;
  padding: 16px;
  color: var(--grey-900-color);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: currentColor;
}

.input-control + .form-error-message {
  align-self: flex-end;
}

.input-control {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey-200-color);
  border-radius: 8px;
  overflow: hidden;
}

.input-control select {
  text-transform: capitalize;
}

.input-control select,
.input-control input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 16px 16px 16px 6px;
  color: currentColor;
  font-size: 16px;
  line-height: 1.5;
}

.input-label {
  font-size: 12px;
  line-height: 1.5;
}

.platform-logo {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  background-color: var(--grey-100-color);
}

/* Form footer */
.form-footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--grey-200-color);
  padding: 16px;
}

/* Add link - Empty state */
.add-link-empty {
  background-color: var(--grey-50-color);
  padding: 24px;
  border-radius: 12px;
}

.add-link-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.add-link-hero img {
  height: 80px;
}

.add-link-hero h2 {
  font-size: 24px;
  color: var(--grey-900-color);
  font-weight: 700;
  line-height: 1.5;
}

.add-link-hero p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--grey-500-color);
  text-align: center;
}

/* PROFILE SECTION */
.app-profile {
  display: none;
  padding: 24px;
  border-radius: 12px;
}

/* Header */
.profile-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.profile-header h2 {
  color: var(--grey-900-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.profile-header p {
  color: var(--grey-500-color);
  font-size: 16px;
}

/* Body */
/* Form */
.profile-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile-upload,
.user-info {
  background-color: var(--grey-50-color);
  border-radius: 12px;
  padding: 24px;
}

.profile-upload {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-upload span {
  color: var(--grey-500-color);
  line-height: 1.5;
}

.profile-upload > span {
  font-size: 16px;
}

.image-constraint {
  font-size: 12px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.user-upload-avatar input[type="file"] {
  display: none;
}

.user-upload-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-100-color);
  border-radius: 12px;
  width: 150px;
  height: 150px;
}

.load-bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.upload-image {
  color: var(--purple-600-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.upload-image svg {
  width: 40px;
  height: 40px;
}

.upload-image span {
  color: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-control-2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group-2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--grey-900-color);
}

.input-group-2 label {
  color: var(--grey-500-color);
  font-size: 12px;
  line-height: 1.5;
}

.input-group-2 label::after {
  content: "*";
}

.input-control-2 input {
  color: var(--grey-900-color);
  background-color: var(--white-color);
  border: 1px solid var(--grey-200-color);
  border-radius: 8px;
  padding: 16px;
}

/* Utilities */
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.form-control__invalid {
  border: 1px solid var(--red-500-color);
}

.form-error-message {
  font-size: 12px;
  line-height: 1.5;
  color: var(--red-500-color);
  flex-shrink: 0;
}

/* Links badges  */
.badge-youtube {
  background-color: var(--red-550-color) !important;
}

.badge-github {
  background-color: var(--grey-950-color) !important;
}

.badge-frontend {
  background-color: var(--white-color) !important;
  color: var(--grey-900-color) !important;
  border: 1px solid var(--grey-200-color);
}

.badge-twitter {
  background-color: var(--twitter-color) !important;
}

.badge-linkedin {
  background-color: var(--blue-500-color) !important;
}

.badge-facebook {
  background-color: var(--facebook-color) !important;
}

.badge-twitch {
  background-color: var(--twitch-color) !important;
}

.badge-dev {
  background-color: var(--grey-900-color) !important;
}

.badge-codewars {
  background-color: var(--pink-900-color) !important;
}

.badge-freecodecamp {
  background-color: var(--purple-950-color) !important;
}

.badge-gitlab {
  background-color: var(--orange-500-color) !important;
}

.badge-hashnode {
  background-color: var(--blue-800-color) !important;
}

/* MEDIA QUERIES */
/* Tablet: 768px */
@media screen and (min-width: 768px) {
  /* HEADER */
  /* Nav */
  .header {
    padding: 24px;
  }

  .logo-small {
    display: none;
  }

  .logo-large {
    display: block;
    height: 32px;
  }

  /* Buttons */
  .btn-preview {
    padding: 16px 24px;
  }

  /* Tabs */
  .tab-img {
    display: none;
  }

  .tab-label {
    display: block;
  }

  /* SECTION CONTAINER */
  .section-container {
    padding: 0 24px 24px;
  }

  /* App */
  .app {
    height: calc(100% - 138px);
  }

  .app-container {
    padding: 40px;
  }

  .app-title {
    font-size: 32px;
  }

  /* Add link - Empty state */
  .add-link-empty {
    padding: 70px 0 65px;
  }

  .add-link-empty img {
    height: 160px;
  }

  .add-link-empty h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .add-link-hero {
    max-width: 488px;
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }

  .add-link-hero img {
    margin-bottom: 40px;
  }

  /* Form */
  .form-footer {
    align-items: flex-end;
    padding: 24px 0 24px;
  }

  /* PROFILE SECTION */
  .app-profile {
    padding: 40px 40px 24px 40px;
  }

  .profile-header h2 {
    font-size: 32px;
  }

  .profile-upload {
    flex-direction: row;
    align-items: center;
  }

  .profile-upload span {
    flex-grow: 1;
  }

  .upload-container {
    flex-basis: 337px;
    flex-direction: row;
    align-items: center;
  }

  .user-upload-avatar {
    flex-shrink: 0;
    width: 193px;
    height: 193px;
  }

  .user-info {
    gap: 16px;
    margin-bottom: 40px;
  }

  .input-group-2 {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
  }

  .input-group-2 label {
    flex-grow: 1;
    font-size: 16px;
  }

  .input-group-2 .input-control {
    flex-shrink: 0;
    flex-basis: 337px;
  }

  .input-group-2 .input-control + .form-error-message {
    width: 100%;
    text-align: end;
  }
}

/* Desktop: 1440px */
@media screen and (min-width: 1440px) {
  /* SECTION CONTAINER */
  .section-container {
    display: flex;
    column-gap: 24px;
  }

  /* Phone Mockup */
  .phone-mockup-preview {
    position: relative;
    background-color: var(--white-color);
    flex-basis: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: calc(100% - 138px);
  }

  /* App */
  .app {
    flex: 1 1 auto;
  }

  /* Form */
  .form-footer {
    padding: 24px 40px;
  }

  /* USER'S LINKS */
  .mockup-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mockup-container {
    max-width: 237px;
    width: 100%;
  }

  .mockup-shape {
    box-sizing: border-box;
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    overflow: auto;
  }

  .shape-element {
    background-color: var(--grey-100-color);
  }

  /* Header */
  .mockup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
  }

  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-pircture__active {
    border: 4px solid var(--purple-600-color);
  }

  /* Profile information */
  .profile-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }

  .shape__default {
    height: 16px;
    background-color: var(--grey-100-color);
  }

  .shape__active {
    width: initial !important;
    height: initial !important;
    background-color: transparent;
  }

  .profile-username {
    margin: 0;
    font-size: 18px;
    color: var(--grey-900-color);
    width: 160px;
    border-radius: 100px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .profile-email {
    border-radius: 100px;
    font-size: 14px;
    width: 72px;
    height: 8px;
    color: var(--grey-500-color);
  }

  .profile-username__active,
  .profile-email__active {
    background-color: initial;
    width: initial;
    height: initial;
    border-radius: initial;
    line-height: 1.5;
  }

  /* Links preview */
  .links-lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .link-item-container {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 11px 16px;
    border-radius: 8px;
  }

  .link-item__active {
    background-color: var(--grey-900-color);
    color: var(--white-color);
  }

  .link-item-name {
    font-size: 12px;
    line-height: 1.5;
    text-transform: capitalize;
  }

  .link-arrow-right {
    margin-left: auto;
  }

  /* Profile */
  .upload-container {
    flex-basis: 424px;
  }

  .input-group-2 .input-control {
    flex-basis: 424px;
  }
}
