/* Set up the default font styles */
/* Regular -> 400 */
@font-face {
  font-family: "Instrument Sans";
  src: local("Instrument Sans"),
    url("/assets/fonts/static/InstrumentSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Semibold -> 600 */
@font-face {
  font-family: "Instrument Sans";
  src: local("Instrument Sans"),
    url("/assets/fonts/static/InstrumentSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold -> 700 */
@font-face {
  font-family: "Instrument Sans";
  src: local("Instrument Sans"),
    url("/assets/fonts/static/InstrumentSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
}
